<body>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-5 w3-left">
                    <div style="padding-top:3px; padding-bottom:-12px; margin-bottom:0px;"> 
<div id="CDACGISTWebLocalisationDIV">
<select id="cdacL10nLanguagesComboBox" class="NALOC" style="padding:0 0 0 !important; width:inherit !important; height:inherit !important; min-height: 25px !important; min-width: 26px !important; border-radius: 2px !important; font-family=Segoe UI, Tahoma, Geneva, Verdana, sans-serif !important;" onchange="fetchOnlyComboBoxSelectedLang()">
<option class="langMenu NALOC" value="Translate" code="" selected="true" style="display:none;"> Select Language </option>
<option class="langMenu NALOC" value="English" code="eng"> English </option>
<option class="langMenu NALOC" value="Hindi" code="hin">Hindi</option>
<option class="langMenu NALOC" value="Telugu" code="tel">Telugu</option>
</select>
</div>                    
      </div>
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs w3-left">
                    <div class="call-info">
                        <p class="call-text w3-right"><i class="fa fa-envelope-open-o"></i><strong>info@agmarks.com</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-7 w3-center">
                    <div class="call-info w3-center">
                        <p class="call-text"><i class="fa fa-phone"></i><strong>Call Now: +91-9000666949</strong></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs w3-right">
                    <div class="social w3-padding-small w3-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                    <div class="logo w3-center"><a href="index.html"><img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Agmarks"></a></div>
                </div>
                <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
                    <div class="navigation">
                        <div id="navigation">
                            <ul>
                                <li class="active"><a href="index.html" title="Home"> <i class="fa fa-home w3-large "></i></a></li>
                              
                                <li class="has-sub"><a href="#" title="Service">Services</a>
                                    <ul>
                                        <li><a href="farmer.html">Farmers</a></li>
                                        <li><a href="service-single.html"> Processor</a></li>
                                        <li><a href="service-list.html">Storage</a></li>
                                        <li><a href="service-single.html">Supplier</a></li>
                                        <li><a href="service-list.html">Trader</a></li>
                                        <li><a href="service-single.html">Logistics</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact-us.html">Contact Us</a> </li>
                               <li><a href="faq.html">FAQ</a></li>
                                <li class="has-sub"><a href="blog-default.html">Help</a>
                                    <ul>
                                        <li><a href="blog-default.html">How to Register</a></li>
                                        <li><a href="blog-single.html">Benefits</a></li>
                                    </ul>
                                </li>
                                <li><a href="/admin">admin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-section close -->


    <script type="text/javascript" src="{{ url_for('static', filename='js/w3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/menumaker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sticky-header.js') }}"></script>
</body>


