<body>
    
    
    <!-- cta-section start -->
    <div class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- cta-section close -->
     <!-- footer start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- footer-contactinfo-start -->
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget" >
                        <h3 class="footer-title">About Agmarks</h3>
                        <p class="w3-justify">Agmarks.com is an online market place for agricultural products and its subsidiary activities. The prime motive of the company is to provide an eco system for the farmers and cultivators and provide Minimum Support Price, which is right price for produce as the farmer thinks of.</p>
                        <div class="">
                            
                        </div>
                    </div>
                </div> -->
                <!-- footer-contactinfo-close -->
                <!-- footer-useful links-start -->
<!--                 <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Services</h3>
                        
                        <ul>
                            <li><a href="farmer.html">Farmers </a></li>
                            <li><a href="#">Processor</a></li>
                            <li><a href="#">Storage</a></li>
                            <li><a href="#">Suppliers </a></li>
                            <li><a href="#">Trader</a></li>
                            <li><a href="#">Logistics</a></li>
                        </ul>
                        
                    </div>
                </div> -->
                <!-- footer-useful links-close -->
                <!-- footer-useful links-start -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-widget w3-center">
                     <div class="footer-social"> 
                         <a href="#"><span><i class="fa fa-facebook"></i></span></a> 
                         <a href="#"><span><i class="fa fa-google-plus"></i></span> </a> 
                         <a href="#"><span class="active"><i class="fa fa-twitter"></i> </span></a><a href="#"><span><i class=" fa fa-youtube"></i> </span></a> 
                         <a href="#"><span><i class="fa fa-linkedin"></i></span></a>
                     </div>
                     <h4 class="w3-center">Phone: +91-9000666949</h4>
                    
                        
                        <div style="text-align: left; display: inline;">
                            <span><a href="privacy_policy.html">Privacy Policy</a></span>&nbsp;&nbsp;
                            <span><a href="terms_conditions.html">Terms &amp; Conditions</a></span>&nbsp;&nbsp;
                            <span><a href="#">Copyright Policy</a></span>&nbsp;&nbsp;
                            <span><a href="#">RTI</a></span>&nbsp;&nbsp;
                            <span><a href="#">Disclaimer</a></span>&nbsp;&nbsp;
                            <span><a href="#">Feedback</a></span>&nbsp;&nbsp;
                        </div>
                        <div class="w3-center">copyright &copy; Agmarks - 2017. All right reserved</div>

                        
                    </div>
                </div>
                <!-- footer-useful links-close -->
                <!-- footer-about-start -->
               
            </div>
        </div>
    </div>
    <!-- tiny-footer-start -->
    <!-- <div class="tiny-footer">
        <div class="container">
            <div class="row">
                
                 <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                                  <div class="footer-social"> <a href="#"><span><i class="fa fa-facebook"></i></span></a> <a href="#"><span><i class="fa fa-google-plus"></i></span> </a> <a href="#"><span class="active"><i class="fa fa-twitter"></i> </span></a> <a href="#"><span><i class=" fa fa-youtube"></i> </span></a> <a href="#"><span><i class="fa fa-linkedin"></i></span></a> </div>
                    </div>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12 w3-right">copyright &copy; Agmarks - 2017. All right reserved</div>

            </div> -->
            <!-- tiny-footer-start -->
        <!-- </div>
    </div> -->
    <!-- footer close -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   
    
</body>