<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="author" content="ASTONA 1">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<title>Welcome to AGMARKS - Agri Global Market</title>
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="styles/w3.css">
    <link rel="stylesheet" type="text/css" href="styles/fontello.css">
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <script src="scripts/jquery.min.js" type="text/javascript"></script>
    <script src="scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="scripts/navigation.js" type="text/javascript"></script>
    <script src="scripts/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="scripts/jquery.sticky.js"></script>
    <script type="text/javascript" src="scripts/sticky-header.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script type="text/javascript" src="scripts/login.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    	<script>
     	$(document).ready(function(){ 
  $.get("header.html", function(data) {
    $("#header").html(data);
  });
}); 

		$(document).ready(function(){ 
  $.get("footer.html", function(data) {
    $("#footer").html(data);
  });
});

		$(document).ready(function(){ 
  $.get("farmer_reg.html", function(data) {
    $("#farmregi").html(data);
  });
});

     </script>
	</head>

	<body>
    	<!--Header Section-->
		<div class="pdb15" id="header"></div>
    	<!--Header Section Close-->
        <!--Body Section-->
        <div class="container-fluid">
        <!--Row 1 Section-->
        	    <div class="w3-row pdt10">
        			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pdb15">
                	<div class="w3-card">
                   		 	<header class="w3-container w3-theme w3-center">
                   			<h3 class="w3-text-white">Weather Forecast</h3>
                   		</header>
                        <div>&nbsp;</div>
<a class="weatherwidget-io" href="https://forecast7.com/en/17d3978d49/hyderabad/" data-label_1="HYDERABAD" data-label_2="WEATHER" data-font="Roboto Slab" data-theme="pure">HYDERABAD WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://weatherwidget.io/js/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","weatherwidget-io-js");
</script>
</div>        
   		            </div>
                	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pdb15">
                    
                    <div class="w3-card-4 w3-border w3-border-deep-orange" style="overflow:hidden; background-image:url(images/bg2.svg);">
                     	<header class="w3-container w3-theme w3-center">
                   			<h3 class="w3-text-white">Login</h3>
                   		</header>

       <form class="w3-container" action="/action_page.php">
        <div class="w3-section">
          <input class="w3-input w3-border w3-margin-bottom w3-opacity-min" type="text" placeholder="Enter Username" name="usrname" required>
          <input class="w3-input w3-border w3-opacity-min" type="password" placeholder="Enter Password" name="psw" required>
          <button class="w3-button w3-block w3-section w3-themeo-d1 w3-text-white w3-hover-theme" type="submit">Login</button>
         </div>
      </form>

      <div class="w3-container w3-border-top w3-padding w3-light-gray list-inline">
              <span class="w3-left w3-small"> New User: <a href="#"><strong class="w3-serif w3-green w3-button">Sign Up</strong></a></span>
        <span class="w3-right w3-small"><a href="#" class="w3-serif w3-dark-gray w3-button">Forgot password?</a></span>
      </div>
      </div>
      </div>

                	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pdb15">
  		              	<div class="w3-card">
                   		 	<header class="w3-container w3-theme w3-center">
                   			<h3 class="w3-text-white">Registration</h3>
                   		</header>
                              <div id="farmreg" class="w3-modal" style="z-index:2000;">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:550px">
      <div class="w3-container w3-light-grey"><br>
        <span onclick="document.getElementById('farmreg').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
              <div id="farmregi">
      </div>

      </div>
      <script>
	  function myFarmReg() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
    </div>
  </div>

                            <div class="w3-container">
                        		<div class="w3-row pdt10 w3-mobile">
 							  		<div class="col-md-6 col-sm-6 col-xs-12 w3-themeo w3-button w3-margin-bottom w3-display-container">
  								  		<div class="w3-padding w3-section" onclick="document.getElementById('farmreg').style.display='block'"><img class="w3-display-left pdl20" src="images/farmt.svg" width="30%" ><b class="w3-large w3-display-middle pdl10" style="font-weight:bold;">Farmers</b></div>
 								  	</div>
 							  		<div class="col-md-6 col-sm-6 col-xs-12 w3-themeo w3-button w3-margin-bottom w3-display-container">
  								  		<div class="w3-padding w3-section" onclick="document.getElementById('farmreg').style.display='block'"><img class="w3-display-left pdl20" src="images/farmt.svg" width="30%" > <b class="w3-large w3-display-middle pdl20 w3-text-white" style="font-weight:bold;">Processors</b></div>
 							 </div>
                             </div>
                             <div class="w3-row w3-mobile">
 							  		<div class="col-md-6 col-sm-6 col-xs-12 w3-themeo w3-button w3-margin-bottom w3-display-container">
  								  		<div class="w3-padding w3-section" onclick="document.getElementById('farmreg').style.display='block'"><img class="w3-display-left pdl20" src="images/farmt.svg" width="30%" ><b class="w3-large w3-display-middle" style="font-weight:bold;">Storage</b></div>
 								  	</div>
 							  		<div class="col-md-6 col-sm-6 col-xs-12 w3-themeo w3-button w3-margin-bottom w3-display-container">
  								  		<div class="w3-padding w3-section" onclick="document.getElementById('farmreg').style.display='block'"><img class="w3-display-left pdl20" src="images/farmt.svg" width="30%" ><b class="w3-large w3-display-middle" style="font-weight:bold;">Traders</b></div>
 							 </div>
                             </div>
                        		<div class="w3-row w3-mobile">
 							  		<div class="col-md-6 col-sm-6 col-xs-12 w3-themeo w3-button w3-margin-bottom w3-display-container">
  								  		<div class="w3-padding w3-section" onclick="document.getElementById('farmreg').style.display='block'"><img class="w3-display-left pdl20" src="images/farmt.svg" width="30%" ><b class="w3-large w3-display-middle pdl10" style="font-weight:bold;">Suppliers</b></div>
 								  	</div>
 							  		<div class="col-md-6 col-sm-6 col-xs-12 w3-themeo w3-button w3-margin-bottom w3-display-container">
  								  		<div class="w3-padding w3-section" onclick="document.getElementById('farmreg').style.display='block'"><img class="w3-display-left pdl20" src="images/farmt.svg" width="30%" ><b class="w3-large w3-display-middle pdl10" style="font-weight:bold;">Logistics</b></div>
 							 </div>
							</div>
<script>
document.onkeydown = function(evt){
	evt = evt || window.event;
	if(evt.keyCode == 27){
		document.getElementById('farmreg').style.display='none'
		}
	};
</script>
                   		</div>                   
                    </div>
                </div>
        <!--Row 1 Section Close-->  
        <!--Row 2 Section--> 
        	    <div class="w3-row">
        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pdb15 pdt15">
                	<div class="w3-card w3-center">
                   		<header class="w3-container w3-theme1">
                   			<h3 class="w3-text-theme">Market Prices</h3>
                   		</header>
                        <div class="w3-container">
                        	<div class="w3-row pdb15 pdt15 w3-mobile">
 							 <div class="col-md-4 w3-transparent w3-dropdown-hover w3-hover-none">
 							 </div>
                             <div class="col-md-4 w3-transparent w3-dropdown-hover w3-hover-none">
 							 </div>
                             <div class="col-md-4 w3-transparent w3-dropdown-hover w3-hover-none">
 							 </div>
                         	</div>
       		         	</div>        
                   </div>                   
        		</div>
                </div>
        <!--Row 2 Section Close--> 
        <!--Row 3 Section-->
        	    <div class="w3-row pdt10">
	        		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pdb15">
    	            	<div class="w3-card w3-center">
   	                   		<header class="w3-container w3-theme1">
                   				<h3 class="w3-text-theme">Our Channel YouTube</h3>
                   			</header>
                            <div class="w3-container">
                        		<div class="w3-row pdb15 pdt15 w3-mobile">
 									 <div class="col-md-4 w3-transparent w3-dropdown-hover w3-hover-none">
		 							 </div>
                            		 <div class="col-md-4 w3-transparent w3-dropdown-hover w3-hover-none">
		 							 </div>
                           			 <div class="col-md-4 w3-transparent w3-dropdown-hover w3-hover-none">
		 							 </div>
                          		</div>
							</div>
				        </div>        
        	        </div>
<!--               Open News Feed			-->   
            	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                		<div class="w3-card">
                   			<header class="w3-container w3-theme1 w3-center">
                   				<h3 class="w3-text-theme">News Feed</h3>
                   			</header>
                        	<div class="w3-section" style="overflow-y:scroll; height:200px; margin-top:-15px;">
                        		<div class="w3-row w3-mobile">
 									 <div class="col-md-4 col-sm-4 col-xs-4 ">
                                     <img class="w3-left" src="https://img.etimg.com/thumb/msid-62343170,width-160,height-120,imgsize-32425/model-contract-farming-act-to-counter-price-risks-experts.jpg" style="vertical-align:middle; margin-top:15px;" width="100%" height="100%">
		 							 </div>
                            		 <div class="col-md-8 col-sm-8 col-xs-8 w3-left-align">
                                     <h5 class="w3-text-blue">Model contract farming Act to counter price risks: Experts</h5>
<h6 class="w3-small">14 Hours ago</h6>
<p class="w3-medium">Agriculture ministry seeks comments from various stakeholders on the model act latest by January 6</p>
		 							 </div>
                          		</div>
                                <hr>
                        		<div class="w3-row w3-mobile">
 									 <div class="col-md-4 col-sm-4 col-xs-4">
                                     <img src="https://img.etimg.com/thumb/msid-62343170,width-160,height-120,imgsize-32425/model-contract-farming-act-to-counter-price-risks-experts.jpg" style="vertical-align:middle; margin-top:15px;"  width="100%" height="100%">
		 							 </div>
                            		 <div class="col-md-8 col-sm-8 col-xs-8">
                                     <h5 class="w3-text-blue">Model contract farming Act to counter price risks: Experts</h5>
<h6 class="w3-small">14 Hours ago</h6>
<p class="w3-medium">Agriculture ministry seeks comments from various stakeholders on the model act latest by January 6</p>
		 							 </div>
                          		</div>
							</div>
                        </div>                   
                	</div>
<!--               Close News Feed			-->   
                </div>
        <!--Row 3 Section Close-->  
        </div>
        <!--Body Section Close-->
        <!--Footer Section-->
		<div class="pdt15" id="footer"></div>
        <!--Footer Section Close-->
        </body>
</html>
