{% extends 'layout.html' %}
{% block body %}
<div class="pdb10" id="header"></div>
<!--Header Section Close-->
<!--Body Section-->
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="w3-card-2 w3-theme w3-padding">
        <h3 class="w3-center text-white">FARMER</h3>
      </div>
    </div>
            
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 pdt5 pdb5">
      <div class="w3-card w3-panel w3-topbar w3-hover-border-orange">
        <h3 class="w3-center"><b>Agmarks Benefits to Farmers</b></h3>
        <h5><b>Crop Seeding</b></h5>
        <p class=" w3-justify">Crop trends in the area for the year to take informed   decision. Upon   posting requirement, seeds are sent to farmers from verified companies to avoid low quality yield and grade.</p>
        <h5><b>Fertilizers</b></h5>
        <p class=" w3-justify">Upon seeding, Agmarks suggest required fertilizers based on seed requirement posted. Farmer   can   decide   and   post fertilizer requirement.  He can get the fertilizers from verified companies by Agmarks.</p>
        <h5><b>Pesticides</b></h5>
        <p class=" w3-justify">Either   due   to   lack   of   awareness   on infections  or  a  new  kind  of  infection, agmarks will analyse and provide proper pesticides  from  verified  companies  to use.   Farmer   is   provided   with   an interface to upload the infected plant and send it.</p>
        <div class="pdb15 pdt15 w3-center">
          <img src="{{ url_for('static', filename='images/farmer.jpg') }}" width="50%">
        </div>           
        <h5><b>Weather</b></h5>
        <p class=" w3-justify">Agmarks   provide   customized   weather information by taking google & IMD Information together. This along with canal water resources information, he can take better decision.</p>
        <h5><b>Storage/Warehouse</b></h5>
        <p class=" w3-justify">Agmarks   ensures   that   farmers   get updated   information   on   choosing   the nearby   storage   facilities   which   have space   available   with   informed   price well before, so that they can minimize transport costs.</p>
        <h5><b>Prices</b></h5>
        <p>Agmarks   provide   three   kind   of   prices with comparison. National Price vs Local Average Price Range Vs Minimum Support   Price. With this he can negotiate for Maximum possible price.</p>
        <h5><b>Visibility & Awareness</b></h5>
        <p class=" w3-justify">Agmarks aims to give farmers a platform to get visibility for their produce, so that they transact beyond local markets and get the maximum price possible. To bridge the crucial awareness gap in farmers on all aspects to take informed decisions.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 w3-center">
      <div class="w3-card w3-panel w3-topbar w3-hover-border-orange">
        <div>
          <form action="/action_page.php" class="w3-card-4 w3-light-grey w3-text-black">
          <div class="w3-panel w3-border w3-border-indigo w3-hover-border-orange">
            <h2 class="w3-center w3-panel w3-theme w3-padding" style="font-size:3vmin;">LOGIN</h2>
 
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="fa fa-user w3-xlarge"></i></div>
                <div class="w3-rest">
                  <input class="w3-opacity-min form-control" type="text" placeholder="Enter Username" name="usrname" required>
                </div>
            </div>

            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="fa fa-unlock w3-xlarge"></i></div>
                <div class="w3-rest">
                  <input class="w3-opacity-min form-control" type="password" placeholder="Enter Password" name="psw" required>
                </div>
            </div>

            <div class="w3-small">
            <button class="w3-button w3-block w3-themeo-d1 w3-text-white w3-hover-theme" type="submit">Login</button>
            </div>
            <div class="w3-small">
            <a href="#" class="w3-button w3-block w3-section w3-black">Forgot password?</a>
            </div>
          </div>
          </form>
       </div>
        {% from "includes/_formhelper.html" import render_field %}
        <form method="POST" class="w3-cell w3-padding-large w3-card-4 w3-light-grey w3-text-black">
          <div class="w3-panel w3-border w3-border-indigo w3-hover-border-orange">
            <h2 class="w3-center w3-panel w3-indigo w3-padding" style="font-size:2rem; font-weight:600">PROCESSOR REGISTRATION</h2>
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px">
                <i class="w3-xxlarge fa fa-user"></i>
              </div>
              <div class="w3-rest">
                {{render_field(form.fullname, class_="w3-input w3-border", placeholder="Full Name")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px">
                <i class="w3-xxlarge fa fa-id-badge" ></i>
              </div>
              <div class="w3-rest">
                {{render_field(form.companyname, class_="w3-input w3-border", placeholder="Company Name")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-rest">
                <label class="control-label" for="street_address">
                  <b>Address of the Unit</b>
                </label>
                {{render_field(form.companyaddress, class_="w3-input w3-border", placeholder="Write Your Address here")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-rest">
                <label class="control-label" for="State">
                  <b>State</b>
                </label>
                {{render_field(form.state, class_="w3-select")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-rest">
                <label class="control-label" for="District">
                  <b>District</b>
                </label>
                {{render_field(form.district, class_="w3-select")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-rest">
                <label class="control-label" for="village">
                  <b>Village</b>
                </label>
                {{render_field(form.village, class_="w3-input w3-border", placeholder="Village")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-rest">
                <label class="control-label" for="Taluka">
                  <b>Taluka</b>
                </label>
                {{render_field(form.taluka, class_="w3-input w3-border", placeholder="Taluka")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-rest">
                <label class="control-label" for="Pincode">
                  <b>Pincode</b>
                </label>
                {{render_field(form.pincode, class_="w3-input w3-border", placeholder="Pincode")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-rest">
                <label class="control-label" for="YearOfIncorporation">
                  <b>Year of Incorporation</b>
                </label>
                {{render_field(form.yearofIncorporation, class_="w3-input w3-border")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px">
                <i class="w3-xxlarge fa fa-pencil"></i>
              </div>
              <div class="w3-rest">
                {{render_field(form.gstnumber, class_="w3-input w3-border", placeholder="GST Number of the Company(Optional)")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px">
                <i class="w3-xxlarge fa fa-phone"></i>
              </div>
              <div class="w3-rest">
                {{render_field(form.contactnumber, class_="w3-input w3-border", placeholder="Contact Number")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px">
                <i class="w3-xxlarge fa fa-envelope-o"></i>
              </div>
              <div class="w3-rest">
                {{render_field(form.email, class_="w3-input w3-border", placeholder="Email")}}
              </div>
            </div>
            <div class="w3-row w3-section">
              <p class="w3-large">
                <i class="w3-large fa fa-check-square-o"></i>&nbsp;Raw Material he/she procures
              </p>
              <div class="checkbox-inline">

                <div class="checkbox checkbox-primary">
                  {{render_field(form.materialprocures, class_="checkbox-inline")}}
      <!--             <label class="checkbox-inline">
                    <input type="checkbox" value="">&nbsp;Paddy
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">&nbsp;Wheat
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">&nbsp;Cotton
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">&nbsp;Mirchi
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" value="">&nbsp;Vegetables
                  </label> -->
                </div>
              </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px">
                <i class="w3-xxlarge fa fa-phone"></i>
              </div>
              <div class="w3-rest">
                {{render_field(form.confirmcontactnumber, class_="w3-input w3-border", placeholder="Confirm your Mobile Number")}}
              </div>
            </div>
            <button class="w3-button w3-block w3-section w3-black ">Register</button>
          </div>
      </form>

      </div>
    </div>   
  </div>
        <!--Body Section Close-->
        <!--Footer Section-->
  <div class="pdt10" id="footer"></div>
        <!--Footer Section Close-->

{% endblock %}