<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- Bootstrap -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="styles/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="styles/w3.css">
    
    <link rel="stylesheet" type="text/css" href="styles/fontello.css">
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    
</head>

<body>
    
    
    <!-- cta-section start -->
    <div class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>Have Any Questions? Call us Now: +91-9000666949</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- cta-section close -->
     <!-- footer start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- footer-contactinfo-start -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget" >
                        <h3 class="footer-title">About Agmarks</h3>
                        <p class="w3-justify">Agmarks.com is an online market place for agricultural products and its subsidiary activities. The prime motive of the company is to provide an eco system for the farmers and cultivators and provide Minimum Support Price, which is right price for produce as the farmer thinks of.</p>
                        <div class="">
                            
                        </div>
                    </div>
                </div>
                <!-- footer-contactinfo-close -->
                <!-- footer-useful links-start -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Services</h3>
                        
                        <ul>
                            <li><a href="farmer.html">Farmers </a></li>
                            <li><a href="#">Processor</a></li>
                            <li><a href="#">Storage</a></li>
                            <li><a href="#">Suppliers </a></li>
                            <li><a href="#">Trader</a></li>
                            <li><a href="#">Logistics</a></li>
                        </ul>
                        
                    </div>
                </div>
                <!-- footer-useful links-close -->
                <!-- footer-useful links-start -->
                <div class="col-md-3 col-sm-3 col-xs-12 w3-right">
                    <div class="footer-widget">
                        <h3 class="footer-title ">Quick Links</h3>
                        <ul style="text-align: left">
                            <li><a href="privacy_policy.html">Privacy Policy</a></li>
                            <li><a href="terms_conditions.html">Terms &amp; Conditions</a></li>
                            <li><a href="#">Copyright Policy</a></li>
                            <li><a href="#">RTI</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Weather Forecast</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-useful links-close -->
                <!-- footer-about-start -->
               
            </div>
        </div>
    </div>
    <!-- tiny-footer-start -->
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                
                 <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                                  <div class="footer-social"> <a href="#"><span><i class="fa fa-facebook"></i></span></a> <a href="#"><span><i class="fa fa-google-plus"></i></span> </a> <a href="#"><span class="active"><i class="fa fa-twitter"></i> </span></a> <a href="#"><span><i class=" fa fa-youtube"></i> </span></a> <a href="#"><span><i class="fa fa-linkedin"></i></span></a> </div>
                    </div>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12 w3-right">copyright &copy; Agmarks - 2017. All right reserved</div>

            </div>
            <!-- tiny-footer-start -->
        </div>
    </div>
    <!-- footer close -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="scripts/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="scripts/bootstrap.min.js" type="text/javascript"></script>
    
     <script src="scripts/w3.js"></script>
</body>

</html>