{% extends 'layout.html' %}

{% block body %}
<!-- http://www.c-sharpcorner.com/article/how-to-change-the-content-of-a-div-without-refreshing-the-pa/ -->


<!-- <html>  
<head>  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    
</head>  
<body> --> 
  
<div class="container">  
                                             
  <div class="dropdown">  
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">demo
    <span class="caret"></span></button>  
    <ul class="dropdown-menu">  
      <li><a class="one" href="/farmerregistration">Farmer</a></li>  
      <li><a class="two" href="/foodprocesserregistration">Food Processor</a></li>  
      <li><a  class="three" href="/warehouseregistration">Storage/Warehouse</a></li>
      <li><a  class="three" href="/traderregistration">Trader</a></li>  
      <li class="divider"></li>  
      <li><a href="#">About Us</a></li>   
    </ul>  
  </div>  
</div>
 
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
 <!--  
</body>  
</html> -->


{% endblock %}
