{% extends 'layout.html' %}
{% block body %}

  <div class="pdb15" id="header"></div>
  <!--Header Section Close-->
  <!--Body Section-->
  <div class="container-fluid">
    <!--Row 1 Section-->
    <!-- <div class="w3-row pdt10">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pdb15">
        <div class="w3-card">
          <header class="w3-container w3-center">
            <h3 class="w3-text-theme">Weather Forecast</h3>
          </header>
          <div>&nbsp;</div>
          <a class="weatherwidget-io" href="https://forecast7.com/en/17d3978d49/hyderabad/" data-label_1="HYDERABAD" data-label_2="WEATHER" data-font="Roboto Slab" data-theme="pure">HYDERABAD WEATHER</a>
          <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://weatherwidget.io/js/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","weatherwidget-io-js");
          </script>
          <div>&nbsp;</div>
        </div>        
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pdb20">
        <div class="w3-card-2" style="overflow:hidden;">
          <header class="w3-container w3-center">
            <h3 class="w3-text-theme">Login</h3>
          </header>
          {% from "includes/_formhelper.html" import render_field %}
          <form method="POST" class="w3-container" action="/log">
            <div class="w3-section">
            <i class="fa fa-user w3-xlarge"></i>
              {{render_field(form.username, class_="w3-input w3-border w3-margin-bottom w3-opacity-min", placeholder="Enter Username")}}
              <i class="fa fa-lock w3-xlarge"></i>
              {{render_field(form.password, class_="w3-input w3-border w3-opacity-min", placeholder="Enter Password")}}
              <button class="w3-button w3-block pdb15 w3-section w3-themeo-d1 w3-text-white w3-hover-theme" type="submit">Login</button>
            </div>
          </form>
          <div class="w3-container w3-center w3-border-top w3-padding-16 w3-light-gray list-inline">
            <span class="w3-left w3-small pdb15"> New User: 
              <a href="/signup"><strong class="w3-serif w3-green w3-button">Sign Up</strong></a>
            </span>
            <span class="w3-right w3-small"><a href="#" class="w3-serif w3-dark-gray w3-button">Forgot password?</a></span>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pdb15">
        <div class="w3-card">
          <header class="w3-container w3-center">
            <h3 class="w3-text-theme">Registration</h3>


          </header>
          <div id="farmreg" class="w3-modal" style="z-index:2000;">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:550px">
              <div class="w3-container w3-light-grey"><br>
                <span onclick="document.getElementById('farmreg').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">Ã—</span>
                <div id="farmregi">
                </div>
              </div>
            </div>
          </div>
          <div class="w3-container">
            <div class="w3-row pdt15 pdb10 w3-mobile">
              <div class="col-md-12 col-sm-12 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/farmerregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/farmt.svg') }}" width="15%" >
                  <b class="w3-responsive w3-display-middle" style="font-weight:bold;">Farmer</b>
                </div>
                </div>
                </a>
              </div>
            </div>


            <div class="w3-row w3-mobile pdb5">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/foodprocesserregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/processor.svg') }}" width="30%" >
                  <b class="w3-responsive w3-display-middle pdl10" style="font-weight:bold;">Processor</b>
                </div>
                </div>
                </a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/warehouseregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/coldt.svg') }}" width="30%" >
                  <b class="w3-responsive w3-display-middle" style="font-weight:bold;">Storage</b>
                </div>
                </div>
                </a>
              </div>
            </div>
            <div class="w3-row w3-mobile pdb5">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/traderregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/agent.svg') }}" width="30%" >
                  <b class="w3-display-middle pdl10 w3-responsive" style="font-weight:bold;">Trader</b>
                  </div>
                  </div>
                  </a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/foodprocesserregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/suppl.svg') }}" width="30%" >
                  <b class="w3-display-middle pdl10" style="font-weight:bold;">Supplier</b>
                  </div>
                  </div>
                  </a>
                </div>
              </div>
              <div class="w3-row w3-mobile pdb5">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/logisticsregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/logistt.svg') }}" width="30%" >
                  <b class="w3-responsive w3-display-middle pdl10" style="font-weight:bold;">Logistics</b>
                </div>
                </div>
                </a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <div class="w3-themeo w3-button w3-bar  w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <a href="/foodprocesserregistration"><img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/processor.svg') }}" width="30%" >
                  <b class="w3-responsive w3-display-middle pdl10 w3-text-white" style="font-weight:bold;">Vendor</b></a>
                </div>
              </div>
              </div>
            </div>
            </div>
          </div>
        </div> -->
        <!--Row 1 Section Close-->
       <!--Row 1 Section-->
  <div class="w3-row pdt10">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pdb15">
      <div class="w3-card pdb15">
        <div class="w3-container w3-padding-large w3-center">
            <h3 class="w3-text-theme"><b class=" w3-xlarge">Weather</b></h3>
        </div>
        <div>&nbsp;</div>
        <a class="weatherwidget-io" href="https://forecast7.com/en/17d3978d49/hyderabad/" data-label_1="HYDERABAD" data-label_2="WEATHER" data-font="Roboto Slab" data-theme="pure">HYDERABAD WEATHER</a>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://weatherwidget.io/js/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","weatherwidget-io-js");
        </script>
        <div>
          <h3 class="pdl20">Rainfall Prediction </h3>
          <p class="pdl20 pdb10">No Rain for next one week</p>
        </div>
      </div>        
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pdb15">
        <div class="w3-card">
          <div class="w3-container w3-padding-large w3-center">
          
            <h3 class="w3-text-theme"><b class=" w3-xlarge">Registration</b></h3>


          </div>
          <div id="farmreg" class="w3-modal" style="z-index:2000;">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:550px">
              <div class="w3-container w3-light-grey"><br>
                <span onclick="document.getElementById('farmreg').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">Ã—</span>
                <div id="farmregi">
                </div>
              </div>
            </div>
          </div>
          <div class="w3-container">
            <div class="w3-row pdt15 pdb10 w3-mobile">
              <div class="col-md-12 col-sm-12 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/farmerregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/farmt.svg') }}" width="20%" >
                  <b class="w3-responsive w3-display-middle" style="font-weight:bold;">Farmer</b>
                </div>
                </div>
                </a>
              </div>
            </div>


            <div class="w3-row w3-mobile pdb5">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/foodprocesserregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb2">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/processor.svg') }}" width="38%" >
                  <b class="w3-responsive w3-display-middle pdl40" style="font-weight:bold;">Processor</b>
                </div>
                </div>
                </a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/warehouseregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/coldt.svg') }}" width="38%" >
                  <b class="w3-responsive w3-display-middle pdl40" style="font-weight:bold;">Storage</b>
                </div>
                </div>
                </a>
              </div>
            </div>
            <div class="w3-row w3-mobile pdb5">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/traderregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/agent.svg') }}" width="38%" >
                  <b class="w3-display-middle pdl40 w3-responsive" style="font-weight:bold;">Trader</b>
                  </div>
                  </div>
                  </a>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/foodprocesserregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/suppl.svg') }}" width="38%" >
                  <b class="w3-display-middle pdl40" style="font-weight:bold;">Supplier</b>
                  </div>
                  </div>
                  </a>
                </div>
              </div>
              <div class="w3-row w3-mobile" style="padding-bottom: 13px">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <a href="/logisticsregistration">
              <div class="w3-themeo w3-button w3-bar w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/logistt.svg') }}" width="38%" >
                  <b class="w3-responsive w3-display-middle pdl40" style="font-weight:bold;">Logistics</b>
                </div>
                </div>
                </a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <div class="w3-themeo w3-button w3-bar  w3-round-xxlarge">
                <div class="w3-section pdb5">
                  <a href="/foodprocesserregistration"><img class="w3-display-left pdl10" src="{{ url_for('static', filename='images/processor.svg') }}" width="38%" >
                  <b class="w3-responsive w3-display-middle pdl40 w3-text-white" style="font-weight:bold;">Vendor</b></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pdb15">
      <div class="w3-card">
        <div class="w3-container w3-padding-16 w3-center">
          <i class="fa fa-android fa-2x w3-text-theme"></i>&nbsp; &nbsp;
          <i class="fa fa-apple fa-2x w3-text-theme"></i>&nbsp;&nbsp; 
          <b class="w3-xlarge w3-text-theme">Apps Coming Soon</b>
        </div>
        <div id="slide">{% include 'includes/slide.html' %}</div>                        
      </div>
    </div>
  </div>
        <!--Row 1 Section Close--> 
        <!--Row 2 Section-->
        <style>
          table, th, td {
              border: 3px solid black;
              border-collapse: collapse;
              font-size: 0.6rem;
              color: #000;

          }
        </style>
        <div class="w3-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pdb15 pdt15">
            <div class="w3-card">
              <header class="w3-container  w3-center">
                <h3 class="w3-text-theme ">Market Prices</h3>
              </header>
              <div class="w3-section">
                <div class="w3-row pdb15 pdt15 w3-mobile" style="overflow-y:scroll; height:250px; margin-top:5px;">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <div class="table-responsive">
                      <center><h4 class="w3-text-theme">Cereals & Pulses</h4></center>
                    
                      <center><table style="width:100%" class="table w3-mobile">
                      <tr>
                        
                        <th class="w3-container w3-theme w3-center w3-padding-8"><center>COMMODITY</center></th> 
                        <th class="w3-container w3-theme w3-center w3-padding-8"><center>MSP</center></th>
                        <th class="w3-container w3-theme w3-center w3-padding-8"><center>NP</center></th>
                        <th class="w3-container w3-theme w3-center w3-padding-8"><center>MxPP</center></th>
                        
                        
                    <!--     <center><th>UPDATA</th></center>
                        <center><th>DELECT</th></center> -->
                      </tr>  
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['paddy_com']}}</b></center></td>  
                        <td><center><b>{{mark['paddy_min']}}</b></center></td>
                        <td><center><b>{{mark['paddy_max']}}</b></center></td>
                        <td><center><b>{{mark['paddy_model']}}</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['groundnut_com']}}</b></center></td>  
                        <td><center><b>{{mark['groundnut_min']}}</b></center></td>
                        <td><center><b>{{mark['groundnut_max']}}</b></center></td>
                        <td><center><b>{{mark['groundnut_model']}}</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['Chillies_com']}}</b></center></td>  
                        <td><center><b>{{mark['Chillies_min']}}</b></center></td>
                        <td><center><b>{{mark['Chillies_max']}}</b></center></td>
                        <td><center><b>{{mark['Chillies_model']}}</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['cotton_com']}}</b></center></td>  
                        <td><center><b>{{mark['cotton_min']}}</b></center></td>
                        <td><center><b>{{mark['cotton_max']}}</b></center></td>
                        <td><center><b>{{mark['cotton_model']}}</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['tamarindfruit_com']}}</b></center></td>  
                        <td><center><b>{{mark['tamarindfruit_min']}}</b></center></td>
                        <td><center><b>{{mark['tamarindfruit_max']}}</b></center></td>
                        <td><center><b>{{mark['tamarindfruit_model']}}</b></center></td>
                      </tr>

                    </table></center>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 table-responsive">
                    

                    <div class="table-responsive">
                      <center><h4 class="w3-text-theme">Fruits & Vegetables</h4></center>
                    
                      <center><table style="width:100%" class='table w3-mobile'>
                      <tr>
                        <th class="w3-container w3-theme w3-center"><center>COMMODITY</center></th> 
                        <th class="w3-container w3-theme w3-center"><center>MSP</center></th>
                        <th class="w3-container w3-theme w3-center"><center>NP</center></th>
                        <th class="w3-container w3-theme w3-center"><center>MxPP</center></th>
                        
                        
                    <!--     <center><th>UPDATA</th></center>
                        <center><th>DELECT</th></center> -->
                      </tr>  
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['banana_com']}}</b></center></td>  
                        <td><center><b>{{mark['banana_min']}}</b></center></td>
                        <td><center><b>{{mark['banana_max']}}</b></center></td>
                        <td><center><b>{{mark['banana_model']}}</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['Coconut_com']}}</b></center></td>  
                        <td><center><b>{{mark['Coconut_min']}}</b></center></td>
                        <td><center><b>{{mark['Coconut_max']}}</b></center></td>
                        <td><center><b>{{mark['Coconut_model']}}</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['tomato_com']}}</b></center></td>  
                        <td><center><b>{{mark['tomato_min']}}</b></center></td>
                        <td><center><b>{{mark['tomato_max']}}</b></center></td>
                        <td><center><b>{{mark['tomato_model']}}</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['Onion_com']}}</b></center></td>  
                        <td><center><b>{{mark['Onion_min']}}</b></center></td>
                        <td><center><b>{{mark['Onion_max']}}</b></center></td>
                        <td><center><b>{{mark['Onion_model']}}</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>{{mark['Papaya_com']}}</b></center></td>  
                        <td><center><b>{{mark['Papaya_min']}}</b></center></td>
                        <td><center><b>{{mark['Papaya_max']}}</b></center></td>
                        <td><center><b>{{mark['Papaya_model']}}</b></center></td>
                      </tr>

                    </table></center>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 table-responsive">
                    <div class="table-responsive">
                      <center><h4 class="w3-text-theme">Dairy Products</h4></center>
                    
                      <center><table style="width:100%" class='table'>
                      <tr>
                        
                        <th class="w3-container w3-theme w3-center"><center>COMMODITY</center></th> 
                        <th class="w3-container w3-theme w3-center"><center>MSP</center></th>
                        <th class="w3-container w3-theme w3-center"><center>NP</center></th>
                        <th class="w3-container w3-theme w3-center"><center>MxPP</center></th>
                        
                    <!--     <center><th>UPDATA</th></center>
                        <center><th>DELECT</th></center> -->
                      <tr>
                        <td class="w3-themeo"><center><b>MILK(1lt)</b></center></td>  
                        <td><center><b>50</b></center></td>
                        <td><center><b>55</b></center></td>
                        <td><center><b>52</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>Ghee(1lt)</b></center></td>  
                        <td><center><b>450</b></center></td>
                        <td><center><b>500</b></center></td>
                        <td><center><b>500</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>Butter(200gm)</b></center></td>  
                        <td><center><b>60</b></center></td>
                        <td><center><b>66</b></center></td>
                        <td><center><b>65</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>Curd</b></center></td>  
                        <td><center><b>75</b></center></td>
                        <td><center><b>85</b></center></td>
                        <td><center><b>80</b></center></td>
                      </tr>
                      <tr>
                        <td class="w3-themeo"><center><b>Paneer(200 gm) </b></center></td>  
                        <td><center><b>66</b></center></td>
                        <td><center><b>82</b></center></td>
                        <td><center><b>81</b></center></td>
                      </tr>

                    </table></center>
                    </div>
                  </div>
               </div>
             </div>        
            </div>                   
          </div>
        </div>
        <!--Row 2 Section Close--> 
        <!--Row 3 Section-->
        <div class="w3-row pdt10">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pdb15">
            <div class="w3-card w3-center">
              <header class="w3-container w3-center">
                <h3 class="w3-text-theme ">Our Channel YouTube</h3>
              </header>
              <div class="w3-container">
                <div class="w3-row pdb15 pdt15 w3-mobile">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 w3-transparent w3-dropdown-hover w3-hover-none">
                  <iframe width="100%" height="183px" src="https://www.youtube.com/embed/ks_iPB6CH6Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 w3-transparent w3-dropdown-hover w3-hover-none">
                 <iframe width="100%" height="183px" src="https://www.youtube.com/embed/9eaCs04ARdo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  
                
                </div>
              </div>
            </div>
          </div>
          <!--               Open News Feed     -->   
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="w3-card">
              <header class="w3-container w3-center">
                <h3 class="w3-text-theme ">News Feed</h3>
              </header>
              <div class="w3-section" style="overflow-y:scroll; height:200px; margin-top:-20px;">
                {% for b in range(0,16)%}
                  <div class="w3-row w3-mobile">
                    <div class="col-md-4 col-sm-4 col-xs-4 ">
                      <img class="w3-left" src="{{l[b]['product_image']}}" style="vertical-align:middle; margin-top:15px;" width="100%" height="100%" alt="agmarks">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 w3-left-align">
                      <a href="{{l[b]['product_link']}}"><h5 class="w3-text-blue">{{l[b]['product_name12']}}</h5></a>
                      <h6 class="w3-small">{{l[b]['product_time']}}</h6>
                      <p class="w3-medium">{{l[b]['product_desc']}}</p>
                    </div>
                  </div>
                  <hr>
                {% endfor %}
              </div>
            </div>                   
          </div>
          <!--               Close News Feed      -->  
        </div>
        <!--Row 3 Section Close-->  
      </div>
      <!--Body Section Close-->
      <!--Footer Section-->
      <div class="pdt10" id="footer"></div>
      <!--Footer Section Close-->
    
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>      
{% endblock %}