{% extends 'layout.html' %}
{% block body %}


        <div class="w3-card">
          <header class="w3-container w3-theme w3-center">
            <h3 class="w3-text-white">Registration</h3>
          </header>
          <div id="farmreg" class="w3-modal" style="z-index:2000;">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:550px">
              <div class="w3-container w3-light-grey"><br>
                <span onclick="document.getElementById('farmreg').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">Ã—</span>
                <div id="farmregi">
                </div>
              </div>
            </div>
          </div>
          <div class="w3-container">
            <div class="w3-row pdt15 w3-mobile">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <div class="w3-themeo w3-padding w3-button w3-bar">
                <div class="w3-padding w3-section">
                  <a href="/farmerregistration"><img class="w3-display-left pdl20" src="{{ url_for('static', filename='images/farmt.svg') }}" width="30%" >
                  <b class="w3-responsive w3-display-middle pdl10" style="font-weight:bold;">Farmers</b></a>
                </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <div class="w3-themeo w3-padding w3-button w3-bar">
                <div class="w3-padding w3-section">
                  <a href="/foodprocesserregistration"><img class="w3-display-left pdl20" src="{{ url_for('static', filename='images/processor.svg') }}" width="30%" >
                  <b class="w3-responsive w3-display-middle pdl20 w3-text-white" style="font-weight:bold;">Processors</b></a>
                </div>
              </div>
              </div>
            </div>
            <div class="w3-row w3-mobile">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <div class="w3-themeo w3-padding w3-button w3-bar">
                <div class="w3-padding w3-section">
                  <a href="/warehouseregistration"><img class="w3-display-left pdl20" src="{{ url_for('static', filename='images/coldt.svg') }}" width="30%" >
                  <b class="w3-responsive w3-display-middle" style="font-weight:bold;">Storage</b></a>
                </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <div class="w3-themeo w3-padding w3-button w3-bar">
                <div class="w3-padding w3-section">
                  <a href="/traderregistration"><img class="w3-display-left pdl20" src="{{ url_for('static', filename='images/agent.svg') }}" width="30%" >
                  <b class="w3-responsive w3-display-middle" style="font-weight:bold;">Traders</b></a>
                </div>
                </div>
              </div>
            </div>
            <div class="w3-row w3-mobile">
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <div class="w3-themeo w3-padding w3-button w3-bar">
                <div class="w3-padding w3-section">
                  <a href="/foodprocesserregistration"><img class="w3-display-left pdl20" src="{{ url_for('static', filename='images/suppl.svg') }}" width="30%" >
                  <b class="w3-display-middle pdl10 w3-responsive" style="font-weight:bold;">Suppliers</b></a>
                  </div>
                  </div>
                </div>
              <div class="col-md-6 col-sm-6 col-xs-12 w3-margin-bottom w3-display-container">
              <div class="w3-themeo w3-padding w3-button w3-bar">
                <div class="w3-padding w3-section">
                  <a href="/logisticsregistration"><img class="w3-display-left pdl20" src="{{ url_for('static', filename='images/logistt.svg') }}" width="30%" >
                  <b class="w3-display-middle pdl10" style="font-weight:bold;">Logistics</b></a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       



{% endblock %}